<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>Employee List</h1>

    <table border="2px">
        <tr>
            <th>ID</th>
            <th>Name</th>
            <th>Email</th>
            <th>date</th>
        </tr>
        {% for emp in emps %}
        <tr>
            <td>{{ emp.id }}</td>
            <td>{{ emp.empname }}</td>
            <td>{{ emp.email }}</td>
            <td>{{ emp.date }}</td>
            <td>
                <a href="/del/{{ emp.id }}">Delete</a>
            </td>
            <td>
                <a href="/edit/{{ emp.id }}">Edit</a>
            </td>
        </tr>
        {% endfor %}
    </table>
    
</body>
</html>